.minimal-button {
    color: $black;
    display: inline-block;
    
    &:after {
        content: '';
        width: 100%;
        display: block;
        border-bottom: 1px solid $black;
        margin-top: 3px;
    }
    
    &:hover {
        text-decoration: none;
        color: $primary-color;
        
        &:after {
            border-color: $primary-color;
        }
    }
}