.page__content {
    padding-top: rem-calc($page-content-padding-top);
    padding-bottom: rem-calc(40);
    
    h2 {
        margin-bottom: rem-calc(40);
    }
    
    >p {
        display: none;
    }
    
    @include breakpoint(small only) {
        padding-top: rem-calc($page-content-padding-top / 2);
    }
}

.page__content--front-page {
    padding-top: 0;
}

.page__title {
    margin-bottom: rem-calc(20);
}

hr {
    border-bottom: 3px solid $primary-color;
    margin: rem-calc(15) auto;
}

.row-padding-y {

    .columns {
        padding-top: map-get($grid-column-gutter, medium) / 2;
        padding-bottom: map-get($grid-column-gutter, medium) / 2;
    }
}

.medium-padding-off {

    @include breakpoint(medium down) {
        padding-left: 0;
        padding-right: 0;
    }

}

.small-padding-off {

    @include breakpoint(small down) {
        padding-left: 0;
        padding-right: 0;
    }

}