@font-face {
	font-family: "Px Grotesk";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/PxGrotesk-Regular.eot");
	src: url("fonts/PxGrotesk-Regular.eot?#iefix") format("embedded-opentype"),
	     url("fonts/PxGrotesk-Regular.woff2") format("woff2"),
	     url("fonts/PxGrotesk-Regular.woff") format("woff"),
	     url("fonts/PxGrotesk-Regular.ttf") format("truetype"),
}

@font-face {
	font-family: "Px Grotesk";
	font-style: normal;
	font-weight: bold;
	src: url("fonts/PxGrotesk-Bold.eot");
	src: url("fonts/PxGrotesk-Bold.eot?#iefix") format("embedded-opentype"),
	     url("fonts/PxGrotesk-Bold.woff2") format("woff2"),
	     url("fonts/PxGrotesk-Bold.woff") format("woff"),
	     url("fonts/PxGrotesk-Bold.ttf") format("truetype"),
}

@font-face {
	font-family: "Px Grotesk Screen";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/PxGrotesk-Screen.otf") format("opentype");
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: normal;
	src: url("fonts/WorkSans-Regular.eot");
	src: url("fonts/WorkSans-Regular.eot?#iefix") format("embedded-opentype"),
	     url("fonts/WorkSans-Regular.woff2") format("woff2"),
	     url("fonts/WorkSans-Regular.woff") format("woff"),
	     url("fonts/WorkSans-Regular.ttf") format("truetype"),
}

@font-face {
	font-family: "Work Sans";
	font-style: normal;
	font-weight: bold;
	src: url("fonts/WorkSans-Bold.eot");
	src: url("fonts/WorkSans-Bold.eot?#iefix") format("embedded-opentype"),
	     url("fonts/WorkSans-Bold.woff2") format("woff2"),
	     url("fonts/WorkSans-Bold.woff") format("woff"),
	     url("fonts/WorkSans-Bold.ttf") format("truetype"),
}

h1,h2,h3,h4,h4,h6 {
	letter-spacing: -0.026em;
}

h1 {
	line-height: rem-calc(73);

	@include breakpoint (small only) {
		line-height: rem-calc(50);
	}
}

a.highlight {

	color: $primary-color;
	text-decoration: underline;
	font-size: rem-calc(23);
	line-height: rem-calc(23);

}