.header__wrapper {
	border-bottom: 1px solid $black;
	background-color: $light-gray;
	z-index: 5;

	>.grid-container {
		.grid-x {
			justify-content: space-between;
		}
	}

	.header__toggle {
		display: flex;
		align-items: center;
	}

	.menu-icon {

		&:after {
			background: $black;
			box-shadow: 0 7px 0 $black, 0 14px 0 $black;
		}
		
		&:hover:after {
			background: $primary-color;
			box-shadow: 0 7px 0 $primary-color, 0 14px 0 $primary-color;
		}
	}
}

.header__logo {
	a {
		display: block;
		color: $black;
		font-size: rem-calc(40);
        line-height: rem-calc(40);
		transition: all 300ms;
		padding: rem-calc(20) 0;
		text-decoration: none;

		h1 {
			display: inline-block;
			transition: all 300ms;
			font-size: inherit;
			line-height: inherit;
			margin: 0;
		}

		svg {
			height: rem-calc(35);
		}

		&:after {
			content: '';
			display: inline-block;
			height: 4px;
			width: 20px;
			background-color: $primary-color;
			margin-left: -9px;
			// margin-right: 50px;
			transition: all 300ms;
		}
		
		&:hover {
			text-decoration: none;

			&:after {
				width: 60px;
				// margin-right: 0px;
			}
		}
		

		@include breakpoint(small only) {
			font-size: rem-calc(30);
			line-height: rem-calc(30);
			padding: rem-calc(10) 0;

			&:after {
				height: 2px;
				width: 50px;
			}
		}
	}
}

.header__menu {
	display: flex;
	font-family: $header-font-family;
	line-height: 1;

	a {
		color: $black;
	}
	
	.dropdown {
		
		a {
			padding: 0.7rem rem-calc(18) !important;
			position: relative;
	
			&:after {
				display: none !important;
			}
	
			&:before {
				content: '';
				border-bottom: 2px solid $primary-color;
				position: absolute;
				bottom: 5px;
				display: block;
				padding-top: 5px;
				width: 0%;
				transition: all 500ms;
			}
	
			&:hover:before {
				width: calc(100% - 18px * 2);
			}
		}

		>li >a {
		}
	}


}

.header__locales {
	display: flex;
	font-size: rem-calc(16);
	line-height: rem-calc(16);

	li {
		
		&:first-of-type {
			a:before {
				content: '';
			}
		}
	}
	
	a {
		text-transform: uppercase;
		color: $medium-gray;
		padding: 0 3px;
		
		&.current {
			color: $black;
		}

		&:before {
			content: '|';
		}
	}
}

// .sticky.is-stuck {

// 	.header__logo {
// 		a, h1 {
// 			font-size: rem-calc(map-deep-get($header-styles, medium, h2, font-size));
// 		}

// 		a {
// 			&:after {
// 				height: 3px;
// 			}
// 		}
// 	}
// }

.header--mobile {
	position: fixed;
	top: 0;
	height: 100vh;
	width: 100%;
	background-color: $light-gray;
	z-index: 100;
	overflow: auto;
	padding-top: rem-calc(60);

	.menu {

		
		.menu-item {
			border-bottom: 1px solid $primary-color;
			
			a {
				color: $black;
			}
			
			&:last-of-type {
				border-bottom: 0;
			}
			
		}
		
		.menu-item-has-children {
			
			>a {
				&:after {
					border-color: $dark-gray transparent transparent;
				}
			}
			
			.menu-item {
				border-bottom: 0;
				padding-left: rem-calc(30);
				
				a {
					color: $dark-gray;
				}
			}
		}
		
	}
	
	.header__identity {
		padding: rem-calc(20);
		border-bottom: 1px solid $primary-color;

		h1 {
			font-size: $global-font-size;
			line-height: $global-font-size;
			color: $black;
			margin: 0;
		}
	}

	.header__locales {
		padding: rem-calc(20);
		border-top: 1px solid $primary-color;
	}

	.close-button {

		color: $black;

		&:hover {
			color: $primary-color;
		}
	}
}

@media screen and (max-height: 400px) {

	.header--mobile {
		padding-top: 0;
	}
}
