.posts-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: rem-calc(25);
    padding-bottom: rem-calc(50);

    .button {
        margin-bottom: 0;
    }
}

.posts-pagination__button {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    width: rem-calc(25);

    svg {
        width: 100%;
    }

    &:hover {
        .line {
            stroke: $primary-color;
        }
    }
}

.posts-pagination__button--hidden {
    opacity: 0;
    visibility: hidden;
}

.post-pagination__pages {
    margin: 0 rem-calc(10);
}

.posts-pagination-page {

    color: $black;
    margin: 0 rem-calc(10);

    &:hover {
        text-decoration: underline;
    }

}

.posts-pagination-page--current {
    color: $primary-color;
    pointer-events: none;
}