<div class="apo-chart">
    <canvas id="{{id}}" data-pie-chart data-labels="{{ labels }}" data-values="{{ values }}" data-bg-colors="{{ bg_colors }}" data-border-color="{{ border_color }}" data-border-width="{{ border_width }}" data-unit="{{ unit }}" width="400" height="400"></canvas>
</div>