<div class="apo-cta apo-cta--{{format}} {{ format == 'box' ? 'draggable="true"' : ''}}">
    {% set anchor %}
        <a href="{{link.url}}" rel="{{link.rel}}" target="{{link.target}}" class="apo-cta__link">{{ link.title }}</a>
    {% endset %}
    {% if format == 'text' %}
        <h5>{{ text }}{{anchor}}</h5>
    {% else %}
        <a class="apo-cta__close">{% include 'svg/close.svg' %}</a>
        <h5>{{ text }}</h5>
        {{anchor}}
    {% endif %}
</div>