<div class="apo-highlight apo-highlight--{{theme}} apo-highlight--{{large ? 'large' : ''}} apo-highlight--{{underline ? 'underline' : ''}}" style="{{ bg_image ? 'background-image: url(' ~ bg_image.src ~ ')' : '' }}">
    <h5>{{ title }}</h5>
    <h6>{{ content }}</h6>
    {% if link %}
        <a class="apo-highlight__link" href="{{link.url}}" rel="{{link.rel}}" target="{{link.target}}">{{ link.title }}</a>
    {% endif %}
</div>