{% import "macros/post-list.twig" as post_list %}

<div class="apo-last-posts grid-container">
    <hr>
    <div class="grid-x grid-padding-x grid-padding-y">
        {% for post in posts %}
            <div class="cell small-12 medium-4 {{ show_more_posts and loop.index > posts_count ? 'additional-cell' : '' }}">
                {{ post_list.item(post, post_type, true ) }}
            </div>
        {% endfor %}
    </div>
    {% if show_more_posts %}
        <div class="apo-last-posts__show-more">
            <a class="minimal-button" data-show-more>
                <span class="show-on-active">{{ __(post_type ~ '.less_posts') }}</span>
                <span class="hide-on-active">{{ __(post_type ~ '.more_posts') }}</span>
            </a>
        </div>
    {% endif %}
</div>