<div class="apo-video-slider with-sound is-playing" data-video-player="{{ video.src }}">
    <video width="100" height="60" autoplay loop muted="false">
        <source src="{{ video.src }}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="apo-video-slider__controls">
        <a class="apo-video-slider__pause" data-video-pause>
            <span class="show-on-playing">{{__('video_player.pause')}}</span>
            <span class="hide-on-playing">{{__('video_player.unpause')}}</span>
        </a>|
        <a class="apo-video-slider__mute" data-video-mute>
            <span class="show-on-sound">{{__('video_player.unmute')}}</span>
            <span class="hide-on-sound">{{__('video_player.unmute')}}</span>
        </a>
    </div>
</div>