@mixin header-size($type){
    font-size: rem-calc(map_get(map_get($header-styles, "small"),$type) * 1px);
    @include breakpoint(medium){
      font-size: rem-calc(map_get(map_get($header-styles, "medium"),$type) * 1px);
    }
}