.apo-section {

    margin-bottom: rem-calc(70);
    
    @include breakpoint(small only) {
        margin-bottom: rem-calc(40);
    }
    
    hr {
        max-width: initial;
        margin: 0;
        width: 0;
        transition: width 1000ms;

        &.is-active {
            width: 100%;
        }

        @include breakpoint(small only) {
            display: none;
            margin-bottom: rem-calc(20);
        }
    }
    
    h2 {
        font-size: rem-calc(65);
        line-height: rem-calc(65);
        margin-top: -1rem;

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
        }
    }

    h3 {

        @include breakpoint(small only) {
            margin-bottom: rem-calc(30);
            &:after {
                content: '';
                display: block;
                height: 3px;
                background-color: $primary-color;
                margin-top: rem-calc(10);
            }
        }
    }

    .column:last-child:not(:first-child),
    .columns:last-child:not(:first-child) {
        float: left;
    }

    .apo-section__list {
        margin-top: -0.75em;

        @include breakpoint(small only) {
            margin-top: 0;
        }

        ul {
            list-style: none;
            margin-left: 15%;
            
            @include breakpoint(small only) {
                margin-left: 7.5%;
            }

            li{
                list-style: none;
                position: relative;
                border-bottom: 1px solid $medium-gray;
                padding-bottom: 1rem;
                margin-bottom: 1rem;
                
                &:before{
                    content: '';
                    display: block;
                    position: absolute;
                    left: -10%;
                    top: 0.75em;
                    width: 5%;
                    height: 3px;
                    background-color: $primary-color;
                    
                    @include breakpoint(small only) {
                        left: -7.5%;
                        width: 5%;
                    }
                }

                a {
                    display: inline-block;
                    color: $primary-color;

                    &:hover,
                    &:focus,
                    &:visited {
                        text-decoration: none;
                    }
                    
                    &:after {
                        content: '';
                        display: block;
                        border-bottom: 1px solid $primary-color;
                    }
                    
                    &:hover:after {
                        border-bottom-width: 2px;
                    }

                }
            }
            
        }


        p {
            display: none;
        }

    }

}


.apo-section--flex {
    .row {
        display: flex;
        flex-flow: row wrap;

        &:before,
        &:after {
            display: none;
        }

        .columns {
            float: none;
            flex: 0 0 auto;
        }
    }
}

.apo-section--black-white {

    
    .row {
        border-top: 1px solid $black;
        padding-top: rem-calc(20);
    }

    h2 {
        font-size: rem-calc(65);
        line-height: rem-calc(69);
        margin-top: 0;
        max-width: rem-calc(250);
    }
    
    .apo-section__list {
        margin-top: 0;

        ul {

            li{
                
                border-bottom: 0;
                margin-bottom: rem-calc(60);

                a {
                    color: $black;

                    &:after {
                        border-bottom-color: $black;
                    }
                }

            }
            
        }

    }

}