{% macro item(post, post_type, last_post) %}
    <div class="post-item post-item--{{post_type}}">
        <a href="{{post.link}}" class="post-item__header">
            {% if post.thumbnail  %}
                <img src="{{post.thumbnail.src|resize(600,375)}}" title="{{post.thumbnail.title}}" alt="{{post.thumbnail.alt}}">
            {% else %}
                {% set img = post_type == 'blog' ? asset('/assets/img/noticia.jpg') :  asset('/assets/img/campanya.jpg')%}
                <img src="{{img}}">
            {% endif %}
            <div class="post-item__overlay">{{__(post_type ~ '.read_more')}}</div>
        </a>
        <div class="post-item__body">
            {% if last_post %}
                <div class="post-item__type">
                    {{__(post_type ~ '.archive_title')}}
                </div>
            {% endif %}
            {% if post_type == 'post' and not last_post %}
                <h6 class="post-item__date">{{ post.post_date|date('d.m.Y') }}</h6>
            {% endif %}
            <div class="post-item__title">
                <h4>
                    {% set max_title_size = 60 %}
                    {# {{post.title}} #}
                    <span>{{post.title|slice(0, max_title_size)}}</span>
                    {% if post.title|length >= max_title_size %}
                        <span class="overflow-sign">...</span>
                        <span class="show-on-hover">{{post.title|slice(max_title_size)}}</span>
                    {% endif %}
                </h4>
            </div>
        </div>
        <div class="post-item__footer">
            {% if post_type == 'post' and last_post %}
                <h6 class="post-item__date">{{ post.post_date|date('d.m.Y') }}</h6>
            {% endif %}
            {% if post_type == 'apo_campaign' %}
                {% set terms = post.terms('post_tag') %}
                <div class="post-item__terms">
                    {% for term in terms %}
                        <a href="{{term.link}}">#{{ term.name }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endmacro %}