{% macro _submenu(menu) %}
    {% import _self as ent %}

    <ul class="menu menu--submenu">
        {% for item in menu.children %}
            <li class="{{ item.classes|join(' ') }}"><a href="{{ item.link }}">{{ item.name }}</a>
                {% if item.children %}
                    {{ ent._submenu(item) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro _menu(menu, class, atts) %}
    {% import _self as ent %}

    <ul class="{{ class }}" {{ atts }}>
        {% for item in menu.get_items %}
            <li class="{{ item.classes|join(' ') }}"><a href="{{ item.link }}">{{ item.name }}</a>
                {% if item.children %}
                    {{ ent._submenu(item) }}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}

{% macro menu(menu, class) %}
    {% import _self as ent %}
    {{ ent._menu(menu, class ~' dropdown', 'data-dropdown-menu') }}
{% endmacro %}

{% macro mobile_menu(menu, class) %}
    {% import _self as ent %}
    {{ ent._menu(menu, class ~ ' vertical menu accordion-menu', 'data-accordion-menu') }}
{% endmacro %}

{% macro menu_expanded(menu, class) %}
    {% import _self as ent %}
    {{ ent._menu(menu, class ~' dropdown') }}
{% endmacro %}

{% macro _header_locales_name(locale, type) %}
    {% if type == 'native' %}
        {{ locale.native_name }}
    {% elseif type == 'code-3' %}
        {{ locale.native_name|slice(0, 3) }}
    {% else %}
        {{ locale.code }}
    {% endif %}
{% endmacro %}

{% macro header_locales_list(locales, type) %}
    {% import _self as ent %}

    {% if locales.alt|length %}
        <ul class="locales__menu locales__menu--{{ type|default('code-2') }} menu">
            <li><a href="{{ locales.current.url }}" class="current">{{ ent._header_locales_name(locales.current, type) }}</a></li>
            {% for l in locales.alt %}
                <li><a href="{{ l.url }}">{{ ent._header_locales_name(l, type) }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro header_locales_dropdown(locales, type) %}
    {% import _self as ent %}

    {% if locales.alt|length %}
        <ul class="locales__menu locales__menu--{{ type|default('code-2') }} menu dropdown" data-dropdown-menu>
            <li>
                <a href="#">{{ locales.current.native_name }} <i class="fa fa-angle-down"></i></a>
                <ul>
                    {% for l in locales.alt %}
                        <li><a href="{{ l.url }}">{{ ent._header_locales_name(l, type) }}</a></li>
                    {% endfor %}
                </ul>
            </li>
        </ul>
    {% endif %}
{% endmacro %}
