<footer class="footer">
    <div class="footer__wrapper">
        <div class="grid-container">
            <div class="grid-x">
                <div class="footer__one cell small-12 medium-3 medium-offset-1">
                    {{ footer_first }}
                </div>
                <div class="footer__two cell medium-4">
                    {{ footer_second }}
                </div>
                <div class="footer__three cell medium-2">
                    {{ footer_third }}
                </div>
                <div class="footer__four cell medium-2">
                    {{ footer_fourth }}
                </div>
            </div>
        </div>
    </div>
    <!-- <script src="{{ asset('vendors.js') }}"></script> -->
    <script src="{{ asset('/assets/main.js') }}"></script>
    <!-- <script>require('js/main.js');</script> -->

    {{ wp_footer }}
</footer>