<header>
    <div class="header" data-sticky-container>
        <div class="header__wrapper" data-sticky data-options="marginTop:0;">
            <div class="grid-container">
                <div class="grid-x">
                    <div class="header__logo cell shrink">
                        <a href="{{ site.link }}">
                            <h1>
                                {% include 'svg/apostrof_logo.svg' %}
                                <span class="show-for-sr">{{ site.title }}</span>
                                </h1>
                            </a>
                    </div>
                    <div class="header__menu cell auto align-middle align-right show-for-large">
                        {{ ent.menu(main_menu, 'menu align-right') }}
                    </div>
                    <div class="header__locales cell shrink align-middle show-for-large">
                        {{ ent.header_locales_list(locales) }}
                    </div>
                    <div class="header__toggle shrink align-middle hide-for-large">
                        <div class="mobile-menu-toggle" data-responsive-toggle="mobile-menu" data-hide-for="large">
                            <button class="menu-icon" type="button" data-toggle="mobile-menu"></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header--mobile hide-for-large" id="mobile-menu">
        <div class="header__menu--mobile">
            <div class="mobile-menu-toggle" data-responsive-toggle="mobile-menu" data-hide-for="large">
                <button class="close-button" aria-label="Close alert" type="button" data-toggle="mobile-menu">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="header__identity">
                <a href="{{site.link}}"><h1>{{ site.title }}</h1></a>
            </div>
            {{ ent.mobile_menu(main_menu, 'menu') }}
            <div class="header__locales">
                {{ ent.header_locales_list(locales) }}
            </div>
        </div>
    </div>
</header>