{% if pagination.pages %}
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell small-12 posts-pagination">
                <div>
                    <a class="{{ pagination.prev ? 'posts-pagination__button' : 'posts-pagination__button--hidden'}}" href="{{ pagination.prev.link }}" title="{{__('wp.blog.prev')}}">{% include 'svg/prev.svg' %}</a>
                </div>
                    <div class="post-pagination__pages">
                        {% for page in pagination.pages %}
                            <a class="posts-pagination-page {{ page.current ? 'posts-pagination-page--current' : ''}}" href="{{ page.link }}">{{ page.name }}</a>
                        {% endfor %}
                    </div>
                <div>
                    <a class="{{ pagination.next ? 'posts-pagination__button' : 'posts-pagination__button--hidden'}}" href="{{ pagination.next.link }}" title="{{__('wp.blog.next')}}">{% include 'svg/next.svg' %}</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}