{% extends 'layout.twig' %}

{% import "macros/post-list.twig" as post_list %}

{% block content %}
    <div class="grid-container page__content agenda" data-agenda-accordion>
        <h1 class="page__title">{{ __('apo_event.archive_title')}}<small>{{ (is_archive ? '.' ~ __('apo_event.archive.short_name') ~ '' : '')|lower}}</small></h1>
        {% for post in posts %}
            <div class="event-item grid-container fluid" data-accordion-item>
                <div class="grid-x grid-padding-x grid-padding-y">
                    <div class="event-item__date cell small-12 medium-6 large-4">
                        {{post.start_date|date('d.m.y')}}
                    </div>
                    <div class="event-item__info cell small-12 medium-6 large-5">
                        <h4 class="event-item__title">{{post.title}}</h4>
                        <p class="event-item__range">{{post.start_date|date('d.m.y')}}{{ post.end_date ? ' - ' ~ post.end_date|date('d.m.y') : ''}}</p>
                        <a class="event-item__location" href="http://www.google.com/maps/place/{{post.location.value}}">{{post.location.address}}</a>
                    </div>
                    <div class="event-item__more cell small-12 medium-6 medium-offset-6 large-3 large-offset-0">
                        <a data-accordion-title><span class="show-on-active">—</span><span class="hide-on-active">+</span> {{__('apo_event.read_more')}}</a>
                    </div>
                </div>
                <div class="grid-x grid-padding-x grid-padding-y" data-tab-content>
                    <div class="event-item__date cell small-12 medium-6 large-4">
                        <img src="{{post.thumbnail.src|resize(600)}}" title="{{post.thumbnail.title}}" alt="{{post.thumbnail.alt}}">
                    </div>
                    <div class="event-item__description cell small-12 medium-6 large-5">
                        {{ post.content|wpautop }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    
    {% include 'fragments/pagination.twig' with {'pagination': pagination} %}

    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-center">
            <div class="cell small-12">
                {% if is_archive %}
                    <a class="button" href="{{archive_url}}">{{__('apo_event.back')}}</a>
                {% else %}
                    <a class="button" href="{{page.url}}?archive=true" title="{{__('apo_event.archive.alt')}}">{{__('apo_event.archive.name')}}</a>
                {% endif %}
            </div>
        </div>
    </div>


{% endblock %}
