{% extends 'layout.twig' %}

{% import "macros/post-list.twig" as post_list %}

{% block content %}
    <div class="grid-container page__content page-content--apo_campaign">
        <h1 class="page__title">{{__('apo_campaign.archive_title')}}</h1>
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for post in posts %}
                <div class="cell small-12 medium-6 large-4">
                    {{ post_list.item(post, 'apo_campaign' ) }}
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'fragments/pagination.twig' with {'pagination': pagination} %}
    
{% endblock %}
