{% spaceless %}
{% import "ent/foundation.twig" as ent %}
<!doctype html>
<html {{ site.language_attributes }} class="no-js">
<head>
    <meta charset="{{ site.charset }}">
    <title>
        {% if wp_title %}
            {{ wp_title }} - {{ site.name }}
        {% else %}
            {{ site.name }}
        {% endif %}
    </title>
    <meta name="description" content="{{ site.description }}">
    <link rel="stylesheet" href="{{ asset('/assets/main.css') }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="pingback" href="{{ site.pingback_url }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i|Patua+One" rel="stylesheet">
    {{ wp_head }}
</head>
<body class="{{ body_class }}">

    {% include 'fragments/header.twig' %}

    <main>
        {% block content %}
        {% endblock %}
    </main>

    {% include 'fragments/footer.twig' %}

</body>
</html>
{% endspaceless %}
