{% extends 'layout.twig' %}

{% block content %}
    <div class="page__content page__content--radi-accio">
        <div class="grid-container page__header">
            <h2>{{ page.title }}</h2>
        </div>
        {{ page.content }}
        <section class="apo-section">
            <div class="grid-container">
                <div class="grid-x grid-padding-x">
                    <div class="cell small-12 medium-7 large-3 medium-offset-5">
                        <div class="apo-section__title">
                            <hr>
                            <h3>{{ __('work_areas') }}</h3>
                        </div>
                        {{function('do_shortcode', '[apostrof_areas area_slug="area-de-treball"]')}}
                    </div>
                    <div class="cell small-12 medium-7 large-3 medium-offset-5 large-offset-0">
                        <div class="apo-section__title">
                            <hr>
                            <h3>{{ __('technic_areas') }}</h3>
                        </div>
                        {{function('do_shortcode', '[apostrof_areas area_slug="area-tecnica"]')}}
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}