{% extends 'layout.twig' %}

{% import "macros/post-list.twig" as post_list %}

{% block content %}
    <div class="grid-container page__content press">
        <div class="grid-x grid-padding-x">
            <div class="cell small-12 large-5">
                <h1 class="page__title">{{__('apo_clipping.archive_title')}}</h1>
            </div>
        </div>
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for post in posts %}
                <div class="cell small-12 medium-6 large-4">
                    <div class="post-item press-item">
                        <a href="{{post.clipping_link}}" target="_blank" class=" press-item__title">
                            <h4>{{post.title}}</h4>
                        </a>
                        <div class="press-item__info">
                            <div class="press-item__author">{{ post.author }}</div>
                            <div class="press-item__publication">{{ post.publication }}</div>
                            <div class="press-item__date">{{ post.pub_date|date('d.m.Y') }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'fragments/pagination.twig' with {'pagination': pagination} %}

{% endblock %}