{% extends 'layout.twig' %}

{% import "macros/post-list.twig" as post_list %}

{% block content %}
    <article class="campaign-entry">
        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <div class="campaign-entry__summary-wrapper cell small-12 medium-5 large-4">
                    <div class="campaign-entry__summary">
                        <h4 class="campaign-entry__subtitle">{{__('apo_campaign.name')}}</h4>
                        <h1 class="campaign-entry__title">{{post.title}}</h1>
                        <div class="campaign-entry__terms">
                            {% for term in post.tags %}
                                <a>#{{ term.name }}</a>
                            {% endfor %}
                        </div>
                        {% if post.goals %}
                            <div class="campaign-entry__goals">
                                <h5>{{__('apo_campaign.goals')}}</h5>
                                {{ post.goals|wpautop }}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="campaign-entry__content-wrapper cell small-12 medium-7 large-6 large-offset-1">
                    <div class="campaign-entry__content">
                        {% if post.featured_video %}
                            <video class="campaign-entry__video" width="100" height="60" controls>
                                <source src="{{ post.featured_video }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <img class="campaign-entry__thumbnail" src="{{post.thumbnail.src|resize(1000)}}" title="{{post.thumbnail.title}}" alt="{{post.thumbnail.alt}}">
                        {% endif %}
                        <div class="campaing-entry__body">
                            {{ post.content|wpautop }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="grid-container related-campaigns">
        <h3 class="related-campaigns__title">{{__('apo_campaign.related_campaigns')}}</h3>
        <div class="grid-x grid-padding-x grid-padding-y">
            {% for rel_post in post.relatedPosts %}
                <div class="cell small-12 medium-4">
                    {{ post_list.item(rel_post, 'apo_campaign' ) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}