{% extends 'layout.twig' %}

{% import "macros/post-list.twig" as post_list %}

{% block content %}
    <article class="post-entry page__content">
        <div class="grid-container post-entry__wrapper">
            <div class="grid-x grid-padding-x">
                <div class="post-entry__info cell small-12 medium-4">
                    <hr class="">
                    <div class="post-entry__date">
                        {{ post.post_date|date('d.m.Y') }}
                    </div>
                </div>
                <div class="post-entry__header cell small-12 medium-8">
                    <h1 class="post-entry__title">{{post.title}}</h1>
                    <figure class="post-entry__thumbnail">
                        <img src="{{post.thumbnail.src|resize(1000)}}" title="{{post.thumbnail.title}}" alt="{{post.thumbnail.alt}}">
                        <figcaption>{{post.thumbnail.caption}}</figcaption>
                    </figure>
                </div>
                <div class="post-entry__content-wrapper cell medium-12 large-8 large-offset-4">
                    <div class="post-entry__content">
                        <div class="post-entry__body">
                            {{ post.content|wpautop }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-container">
            <div class="grid-x grid-padding-y">
                <div class="cell small-12 medium-10 medium-offset-2 post-entry__footer">
                    <div class="post-entry__back">
                        <a href="{{ post.archive_link }}">
                            <i class="fas fa-arrow-left"></i><br>
                            Galeria de noticies
                        </a>
                    </div>
                    <div class="post-entry__share">
                        Comparteix la noticia:
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{post.link}}" target="_blank">Facebook</a>
                        <a href="https://twitter.com/intent/tweet?text={{post.title}} {{post.link}}" target="_blank">Twitter</a>
                    </div>
                </div>
            </div>
        </div>
    </article>
{% endblock %}