.agenda {

    .page__title {
        margin-bottom: rem-calc(83);
    }

    .event-item {
        padding: 0;
        border-top: 3px solid $primary-color;
        padding-bottom: rem-calc(20);

        .event-item__date {
            font-family: $header-font-family;
            font-size: rem-calc(map-deep-get($header-styles, medium, h1, font-size));
            line-height: rem-calc(map-deep-get($header-styles, medium, h1, font-size));
        }
        
        .event-item__info {
            font-size: rem-calc(25);
            line-height: rem-calc(36);
            font-family: $body-font-family;
            
            * {
                font-family: inherit;
                font-size: inherit;
                margin: 0;
                color: $black;
            }
        }
    
        .event-item__more {
    
            text-align: right;
            
            @include breakpoint (medium down) {
                text-align: left;
            }
    
            a {
                color: $black;
                font-size: rem-calc(25);
                line-height: rem-calc(36);
                text-transform: uppercase;
            }
        }

        .show-on-active {
            display: none;
        }
    
        .hide-on-active {
            display: initial;
        }
    }

    .event-item.is-active {

        .show-on-active {
            display: initial;
        }

        .hide-on-active {
            display: none;
        }

    }

}
