$column-gutter: map-get($grid-column-gutter, medium);

.post-entry {


    .post-entry__info {

        hr {
            @include breakpoint(small down) {
                display: none;
            }
        }
    }

    .post-entry__date {
        font-size: rem-calc(map-deep-get($header-styles, medium, h2, font-size));
        line-height: 1em;

        @include breakpoint(small down) {
            font-size: rem-calc(20);
            color: $dark-gray;
            
            // &:before {
                //     content: '- ';
                //     color: $primary-color;
                // }
            }
        }
        
        
    .post-entry__title {
        margin-bottom: rem-calc(50);
        
        @include breakpoint(medium down) {
            margin-bottom: rem-calc(25);
        }
    }
    
    .post-entry__thumbnail {
        margin-bottom: rem-calc(50);
        position: relative;

        figcaption {
            position: absolute;
            background-color: rgba($black, 0.5);
            color: $white;
            padding: rem-calc(10);
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: rem-calc(14);
        }
    }
    
    .post-entry__wrapper {
        
        position: relative;

        blockquote {
            padding: 0 10%;
            border-left: 0;
            
            &:before {
                content: '';
                display: block;
                border-bottom: 2px solid $primary-color;
                margin-bottom: rem-calc(5);
            }
            
            &:after {
                content: '';
                display: block;
                border-bottom: 2px solid $primary-color;
            }
            
            
            p {
                color: $primary-color;
                margin-bottom: rem-calc(10);
            }
            
            @include breakpoint(large) {
                position: absolute;
                width: 33.33%;
                left: 0;
                padding-right: rem-calc($column-gutter/2);
                padding-left: rem-calc($column-gutter/2);
                
                &:before {
                    margin-bottom: rem-calc(10);
                    border-bottom-width: 3px;
                }
                
                &:after {
                    display: none;
                    border-bottom-width: 3px;
                }
                
                p {
                    font-size: rem-calc(20);
                    line-height: rem-calc(30);
                    margin-bottom: 1rem;
                }
            }
        }
    }

    .post-entry__footer {
        margin-top: rem-calc(80);
        border-top: 2px solid $dark-gray;
        display: flex;
        justify-content: space-between;

        .post-entry__back {
            
            a {
                text-transform: uppercase;
                color: $black;
            }
        }
    }

    .post-entry__share {
        text-align: right;
        font-size: rem-calc(16);
        line-height: rem-calc(27);

        a {
            display: block;
            color: $black;
            text-transform: uppercase;
        }
    }
}