.campaign-entry {
    border-bottom: 1px solid $dark-gray;
}

.campaign-entry__summary-wrapper {
    background-color: $black;
    color: $white;
    position: relative;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 40vw;
        background-color: $black;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 100%;
        width: 3vw;
        background-color: $black;
    }
}

.campaign-entry__content {
    padding-top: map-get($grid-column-gutter, medium)*2;
    padding-bottom: map-get($grid-column-gutter, medium)*2;
    
    @include breakpoint (medium only) {
        padding-left: map-get($grid-column-gutter, medium)/2;
    }
}

.campaign-entry__summary {
    padding-top: map-get($grid-column-gutter, medium)*2;
    padding-bottom: map-get($grid-column-gutter, medium)*2;

    @include breakpoint (medium only) {
        padding-right: map-get($grid-column-gutter, medium)/2;
    }
    // padding-left: map-get($grid-column-gutter, medium);
}

.campaign-entry__title {
    line-height: 1em;
}

.campaign-entry__subtitle {
    text-transform: uppercase;
}

.campaign-entry__terms{
    text-transform: uppercase;
}

.campaign-entry__goals {
    margin-top: map-get($grid-column-gutter, medium);
    
    @include breakpoint (medium) {
        margin-top: rem-calc(125);
    }

    @include breakpoint (large) {
        margin-top: rem-calc(250);
    }

    &:before {
        content: '';
        display: block;
        max-width: 90%;
        height: 2px;
        background-color: $white;
        margin-bottom: map-get($grid-column-gutter, medium)/2;
    }
    
    h5 {
        text-transform: uppercase;
        font-size: 1rem;
    }
}

.campaign-entry__thumbnail {
    padding-bottom: map-get($grid-column-gutter, medium)*2;
}

.campaign-entry__video {
    width: 100%;
    height: auto;
    padding-bottom: map-get($grid-column-gutter, medium)*2;
}

.related-campaigns {
    padding-top: map-get($grid-column-gutter, medium)*2;
    padding-bottom: map-get($grid-column-gutter, medium)*2;
}

.related-campaigns__title {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: map-get($grid-column-gutter, medium);
}