footer {
    background-color: $black;
    color: $white;
    padding-top: rem-calc(26);
    padding-bottom: rem-calc(78);
    font-size: rem-calc(16);
    line-height: rem-calc(23);
    font-family: $header-font-family;

    a {
        color: $white;

        &:hover {
            color: $primary-color;
        }
    }
}