$post-item-transition-time: 600ms;
$post-item-padding: rem-calc(15);
$post-item-bg-color: $white;

.post-item {
    position: relative;
    height: 100%;
    background-color: $post-item-bg-color;
    display: flex;
    flex-flow: column nowrap;
    // padding-bottom: $post-item-padding;
    // margin-bottom: map-get($grid-column-gutter, medium);
    
    .overflow-sign {
        position: absolute;
        background-color: inherit;
    }
    
    .show-on-hover {
        opacity: 0;
        transition: all $post-item-transition-time;
    }

    &:hover {
        .post-item__title {
            h4 {
                max-height: 500px;
            }
        }
        
        .overflow-sign {
            display: none;
        }
        
        .show-on-hover {
            opacity: 1;
        }
    }

    .post-item__header {
        display: block;
        position: relative;
        
        .post-item__overlay {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba($white, 0.65);
            color: $black;
            opacity: 0;
            visibility: hidden;
            transition: all $post-item-transition-time;
            font-size: rem-calc(25);
            
        }

        &:after {
            content: '';
            display: block;
            height: 5px;
            width: 0;
            background-color: $primary-color;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all $post-item-transition-time;
        }
    
        &:hover {
            .post-item__overlay {
                opacity: 1;
                visibility: visible;
        
            }
            &:after {
                width: 100%;
            }
        }
    }

    .post-item__body {
        padding: $post-item-padding;
    }

    .post-item__footer {
        padding: $post-item-padding;
        padding-top: 0;
        margin-top: auto;
    }

    .post-item__type {
        font-family: $header-font-family;
        font-size: rem-calc(18);
        line-height: rem-calc(32);
        color: $dark-gray;
        text-transform: uppercase;
    }
    
    .post-item__title {
        margin-bottom: $post-item-padding;
        
        h4 {
            max-height: rem-calc(map-deep-get($header-styles, medium, h5, font-size) * 1.4 * 3);
            transition: all $post-item-transition-time linear;
            overflow: hidden;
            font-size: rem-calc(21);
            line-height: rem-calc(28);
        }
    }
    
    .post-item__terms {
        font-size: rem-calc(18);
        line-height:rem-calc(32);
        
        a {
            text-transform: uppercase;
            margin-right: $post-item-padding;
        }
    }
    
    .post-item__date {
        font-size: rem-calc(18);
        line-height: rem-calc(32);
        color: $dark-gray;
    }
}

.post-item--post {
    
    .post-item__terms {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        
        a {
            text-transform: uppercase;
            margin-right: $post-item-padding;
        }
    }
    
    .post-item__date {
        margin-bottom: 0;
    }

}
