$press-item-padding: rem-calc(15);

.press {

    .page__title {
        margin-bottom: rem-calc(60);
    }

    .press-item {
        padding: $press-item-padding;
        
    }
    
    .press-item__title {
        color: $black;
        padding-bottom: rem-calc(50);
        
        &:hover {
            text-decoration-color: $primary-color;
        }
        
        @include breakpoint(small down) {
            padding-bottom: rem-calc(25);
        }
    }
    
    .press-item__info {
        display: flex;
        flex-flow: row wrap;
        margin-top: auto;
        font-family: $header-font-family;
        font-size: rem-calc(18);
        line-height: rem-calc(32);
    }

    .press-item__author {
        color: $dark-gray;
        width: 60%;
        flex: 0 0 60%;
        padding-right: $press-item-padding;
        
        @include breakpoint(small down) {
            width: 100%;
            flex: 0 0 100%;
            padding-right: 0;
        }
    }
    
    .press-item__publication {
        color: $dark-gray;
        width: 60%;
        flex: 0 0 60%;
        padding-right: $press-item-padding;
        
        @include breakpoint(small down) {
            width: 100%;
            flex: 0 0 100%;
            padding-right: 0;
        }
    }
    
    .press-item__date {
        color: $primary-color;
        width: 40%;
        flex: 0 0 40%;
        text-align: right;
        
        @include breakpoint(small down) {
            width: 100%;
            flex: 0 0 100%;
            text-align: left;
        }
    }
}