.page__content--radi-accio {

    .page__header {
        h2 {
            font-size: rem-calc(170);
            line-height: rem-calc(136);
            margin-bottom: rem-calc(80);
            
            @include breakpoint (medium only) {
                font-size: rem-calc(100);
                line-height: rem-calc(80);
                // margin-bottom: rem-calc(60);
            }

            @include breakpoint (small only) {
                font-size: rem-calc(60);
                line-height: rem-calc(48);
                margin-bottom: rem-calc(40);
            }
        }
    }

}